<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625606690178-9ncte70m4l03ak9kffm4529t7nku7k9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625606690178-9ncte70m4l03ak9kffm4529t7nku7k9u</string>
	<key>API_KEY</key>
	<string>AIzaSyADAWAwqU4FWy55ntMSVenIv6C3AnuCNkg</string>
	<key>GCM_SENDER_ID</key>
	<string>625606690178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpappers</string>
	<key>PROJECT_ID</key>
	<string>wallmazing-a0ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>wallmazing-a0ea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625606690178:ios:e6db98004cf6faf2313b9b</string>
</dict>
</plist>